@use './input-control' as ic;

:host {
  display: block;
  max-width: 100%;
}

:host([disabled]) {
  cursor: not-allowed;
  opacity: 0.6;
}

@include ic.base('input');
@include ic.placeholder('input');
@include ic.focus('input');
@include ic.disabled('input');
@include ic.invalid('input');
@include ic.mobile('input');

